# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1
orbs:
  aws-eks: circleci/aws-eks@1.0.3
  kubernetes: circleci/kubernetes@0.11.2

jobs:
  build:
    docker:
      - image: circleci/python:3.7.8-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install awscli
      
      - setup_remote_docker:
          version: 19.03.13        
            
      - run:
          name: install project dependencies
          command: |
            sudo apt-get update
            sudo apt-get install python3-venv
            python3 -m venv venv
            . venv/bin/activate
            make install
            sudo wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            sudo chmod +x /bin/hadolint
    
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint 
               
      - run:
          name: create docker image
          command: |
            chmod 777 run_docker.sh make_prediction.sh upload_docker.sh
            ./run_docker.sh
            
      - run:
          name: publish docker image
          command: |

            echo docker_token | docker login --username $DockerUsername --password-stdin
            ./upload_docker.sh

      - run:
          name: create docker image
          command: |
            ./make_prediction.sh
 
       
workflows:
  default:
    jobs:
      - build
